{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | créer sortie{% endblock %}

{% block content %}

    <h1>Créer votre sortie</h1>

    {{ form_start(eventForm, {'attr':{'class':'col-sm-6', 'novalidate': 'novalidate'}}) }}
    {{ form_widget(eventForm) }}
        <button type="submit" class="btn btn-lg btn-primary offset-9">Créer</button>
    {{ form_end(eventForm) }}

{% endblock %}
