{% extends 'base.html.twig' %}

{% block title %} {{  parent() }}Créer un nouveau lieu{% endblock %}

{% block content %}

    <h1>Créer un nouveau lieu de sortie</h1>

        {{ form_start(locationForm, {'attr':{'novalidate':'novalidate'}}) }}
        {{ form_widget(locationForm) }}
            <button class="btn btn-primary btn-md">Créer le lieu</button>
        {{ form_end(locationForm) }}
         <button id="coordonnates" class="btn btn-md btn-primary">Obtenir les coordonnées</button>

    <h4>ATTENTION, TOUTE CREATION VOLONTAIRE DE FAUX LIEU SERA SANCTIONNEE PAR UNE DESACTIVATION DE VOTRE COMPTE</h4>

{% endblock %}