{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Connexion{% endblock %}

{% block content %}


    <h1>Gérer mon compte</h1>
    <div>
        {{ form_start(registerForm, {'attr':{'class':'col-sm-6', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(registerForm) }}
                <button class="btn btn-md btn-primary">Enregistrer</button>
        {{ form_end(registerForm) }}
    </div>


{% endblock %}