{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Réinitialistation mot de passe{% endblock %}
{% block nav %}{% endblock %}

{% block content %}

    <h1>Mot de passe oublié</h1>

    <form action="{{ path('token_email', {'token':token}) }}" method="post">
        <label for="input-reset-password">Nouveau not de passe</label>
        <input id="input-reset-password" name="password" type="password">
        <input type="submit" value="réinitialiser">
    </form>

{% endblock %}