/*decoration*/
/*#005066*/
/*#4e7988*/

/***********************************GRID***************************************/
@media only screen
    and (max-width: 700px) {

    /*a supprimer*/
    body{
        background-color: #1c7430;
    }

    body{
        display: grid;
        grid-template-columns: [start] 1fr [end];
        grid-template-rows: [start] 20% [main-start] 1fr [main-end] 20% [end];
        grid-template-areas:
            "header"
            "main"
            "footer";
        font-size: 12px;
    }

    /*resizing the font */
    h1{font-size: 2.5em;}
    h2{font-size: 2em}
    h3{font-size: 1.75em}
    h4{font-size: 1.5em}
    h5{font-size: 1.25em}
    h6{font-size: 1em}

    /*hide table columns*/
    .hidden{
        display: none;
    }

    /*profile*/
    .container-profile{
        grid-template-areas:
                "header header"
                "photo photo"
                "info info";
    }

    .profile-img img{
        height: 100px;
    }

    /*header of home page*/
    .container-home-search{
        grid-template-areas:
            "profile"
            "filters";
    }

    .welcome{
        grid-area: profile;
        display: flex;
    }

    .search{
        grid-area: filters;
    }

    /*display event*/
    .container-event{
        grid-template-areas:
                "header header"
                "info info"
                "participants participants";
    }

    /*register user*/
    .container-register{
        grid-template-areas:
            "header header"
            "manually manually"
            "file file";
    }

}




@media screen
    and (min-width: 700px){

    /*a supprimer*/
    body{
        background-color: #002439;
    }

    body{
        display: grid;
        grid-template-columns: [start] 15% [main-start] 1fr [main-end] 15% [end];
        grid-template-rows: [start] 25% [header-end] 10% [main-start] 1fr [main-end] 20% [end];
        grid-template-areas:
            "header header header"
            ". alert ."
            ". main ."
            "footer footer footer";
        font-size: 16px;
    }

    /*profile*/
    .container-profile{
        grid-template-areas:
            "header header"
            ". ."
            "photo info";
    }

    /*fixed header on tables*/
    .table-event{
        display: block;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
    }

    .table-event tbody{
        overflow: auto;
        height: 350px;
        display: block;
        width: 100%;
    }

    /*header of home page*/
    .container-home-search{
        grid-template-areas:
            "profile"
            "filters";
    }

    .welcome{
        grid-area: profile;
        justify-self: right;
        display: flex;
        align-items: center;
    }

    #search-form{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        grid-column-gap: 20px;
    }

    #search-form .form-control{
        width: 60%;
    }

    .md-row-justify-between{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*display event*/
    .container-event{
        grid-template-areas:
                "header header"
                "info participants";
    }

    .filters-right{
        align-self: center;
    }

    .container-event h1{
        grid-area: header;
    }

    .info-event{
        grid-area: info;
    }

    .participants-event{
        grid-area: participants;
    }

    /*register user*/
    .container-register{
        grid-template-areas:
            "header header"
            "manually file";
    }

}


header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/*profile*/
.container-profile, .container-register{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-gap: 10px 30px;
}

.container-profile h1{
    grid-area: header;
}

.profile-img{
    grid-area: photo;
    justify-self: center;
}

.profile-info{
    grid-area: info;
}

/*header of home page*/
.container-home-search{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px 30px;
    padding-bottom: 20px;
}

.welcome div p{
    margin-bottom: 0;
}

.welcome button{
    margin-bottom: 0;
    margin-left: 20px;
}


/*display event*/
.container-event{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px 10px;
}

.container-event h1{
    grid-area: header;
}

.info-event{
    grid-area: info;
}

.participants-event{
    grid-area: participants;
}

/*register users*/
.container-register h1{
    grid-area: header;
}

.manually{
    grid-area: manually;
}

.byFile{
    grid-area: file;
}

/***********************************GENERAL***************************************/
body{
    font-family: Nunito, sans-serif;
    /*background-color: #002439;*/
    color: #e4eff0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    color: #78cce2;
}

h1{
    margin-bottom: 20px;
}

a{
    color: #e4eff0;
}

a:hover{
    text-decoration: none;
    color: #78cce2;
}

.container{
    padding: 0;
}

th, td{
    font-size: 0.8em;
}

.table th{
    border-top: none;
}

/***********************************BUTTONS***************************************/
.btn-primary{
    background-color: #4e7988;
    border: none;
}

.btn-primary:hover{
    background-color: #005066;
}
#icon{
    display: flex;
    justify-content: space-between;
}

.btn-icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon img{
    width: 35px;
    height: 35px
}



/***********************************HEADER***************************************/


header{
    margin-top: 10px;
    margin-bottom: 30px;
}

#site-title a{
    font-size: 3em;
    color: #78cce2;
}

#site-title img{
    height: 40px;
    margin-right: 10px;
}

.row-justify-between{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/***********************************DROPDOWN***************************************/
.dropdown{
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e7988;
    cursor: pointer;
}

.dropcontent{
    display: none;
}

.dropdown:hover{
    background-color: #005066;
}

.dropdown:active{
    background-color: #005066;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
/*.dropdown:hover .dropcontent, .dropdown:hover{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
/*}*/


/***********************************HOME***************************************/
/*table{*/
    /*margin-top: 30px;*/
/*}*/

/*.right{*/
    /*padding: 0;*/
/*}*/

/*.home-header{*/
    /*padding: 0;*/
/*}*/
/*#welcome{*/
    /*margin-top: 15px;*/
/*}*/

/***********************************FORMS***************************************/
/*.form-control{*/
    /*margin: 3px 0;*/
/*}*/

/*#search-form{*/
    /*padding: 0;*/
/*}*/

/*#search{*/
    /*padding: 0;*/
/*}*/

/*#search .col{*/
    /*padding: 0;*/
/*}*/

/*.date{*/
    /*padding: 0;*/
/*}*/

/*.date:last-child label{*/
    /*padding-left: 20px;*/
/*}*/

/*#search .col:first-child{*/
    /*padding-right: 20px;*/
/*}*/

/*#search .col:last-child{*/
    /*padding-right: 20px;*/
/*}*/
#map{
    width: 300px;
    height: 300px;
}