/*decoration*/
/*#005066*/
/*#4e7988*/

/***********************************GRID***************************************/
@media only screen
    and (max-width: 700px) {

    body{
        display: grid;
        grid-template-columns: [start] 1fr [end];
        grid-template-rows: [start] 20% [main-start] 1fr [main-end] 20% [end];
        grid-template-areas:
            "header"
            "main"
            "footer";
        font-size: 12px;
    }

    /*resizing the font */
    h1{font-size: 2.5em;}
    h2{font-size: 2em}
    h3{font-size: 1.75em}
    h4{font-size: 1.5em}
    h5{font-size: 1.25em}
    h6{font-size: 1em}

    .hidden{
        display: none;
    }

    .container-profile{
        grid-template-areas:
                "header header"
                "photo photo"
                "info info";
    }

    .profile-img{
        height: 15%;
    }

    .welcome{
        grid-area: profile;
        display: flex;
    }

    .search{
        grid-area: filters;
    }
}




@media screen
    and (min-width: 700px){

    body{
        display: grid;
        grid-template-columns: [start] 15% [main-start] 1fr [main-end] 15% [end];
        grid-template-rows: [start] 25% [header-end] 10% [main-start] 1fr [main-end] 20% [end];
        grid-template-areas:
            "header header header"
            ". alert ."
            ". main ."
            "footer footer footer";
        font-size: 16px;
    }

    .container-profile{
        grid-template-areas:
            "header header"
            ". ."
            "photo info";
    }

}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}


.container-profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 20px;
}

.profile-img{
    grid-area: photo;
    justify-self: center;
}

.profile-info{
    grid-area: info;
}

.container-home-search{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px 10px;
    grid-template-areas:
        "profile profile"
        "filters filters";
}

/***********************************GENERAL***************************************/
body{
    font-family: Nunito, sans-serif;
    background-color: #002439;
    color: #e4eff0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    color: #78cce2;
}

h1{
    margin-bottom: 20px;
}

a{
    color: #e4eff0;
}

a:hover{
    text-decoration: none;
    color: #78cce2;
}

.container{
    padding: 0;
}

.table th{
    border-top: none;
}
/***********************************BUTTONS***************************************/
.btn-primary{
    background-color: #4e7988;
    border: none;
}

.btn-primary:hover{
    background-color: #005066;
}
#icon{
    display: flex;
    justify-content: space-between;
}

.btn-icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon img{
    width: 35px;
    height: 35px
}



/***********************************HEADER***************************************/


header{
    margin-top: 10px;
    margin-bottom: 30px;
}

#site-title a{
    font-size: 3em;
    color: #78cce2;
}

#site-title img{
    height: 40px;
    margin-right: 10px;
}




.row-justify-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



/***********************************HOME***************************************/
/*table{*/
    /*margin-top: 30px;*/
/*}*/

/*.right{*/
    /*padding: 0;*/
/*}*/

/*.home-header{*/
    /*padding: 0;*/
/*}*/
/*#welcome{*/
    /*margin-top: 15px;*/
/*}*/

/***********************************FORMS***************************************/
/*.form-control{*/
    /*margin: 3px 0;*/
/*}*/

/*#search-form{*/
    /*padding: 0;*/
/*}*/

/*#search{*/
    /*padding: 0;*/
/*}*/

/*#search .col{*/
    /*padding: 0;*/
/*}*/

/*.date{*/
    /*padding: 0;*/
/*}*/

/*.date:last-child label{*/
    /*padding-left: 20px;*/
/*}*/

/*#search .col:first-child{*/
    /*padding-right: 20px;*/
/*}*/

/*#search .col:last-child{*/
    /*padding-right: 20px;*/
/*}*/
